name: OpenCoDE

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          ref: 'main'
          fetch-depth: 0
      - name: Push main branch
        run: |
          git remote add opencode {% raw %}https://${{ secrets.OPENCODE_USER }}:${{ secrets.OPENCODE_TOKEN }}@gitlab.opencode.de{% endraw %}/robert-koch-institut/mex/mex-{{ cookiecutter.project_name }}.git
          git push opencode -f
          git push opencode -f --tags
