name: Reviewing

on:
  pull_request:
    types:
      - opened
      - reopened

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  assignee:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Add assignee
        env:
          GH_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}
        run: |
          user_name="${{ github.event.pull_request.user.login }}"
          user_type=$(gh api "users/${user_name}" --jq ".type")
          echo $user_name is a $user_type
          if [[ "$user_type" != "User" ]]; then
            user_name="${{ vars.MEX_BOT_USER }}"
            echo using $user_name instead
          fi
          if [[ -z "${{ github.event.pull_request.assignee.login }}" ]]; then
            gh pr edit ${{ github.event.pull_request.html_url }} --add-assignee "${user_name}"
          fi

  check-changelog:
    name: Verify changelog
    runs-on: ubuntu-latest

    steps:
      - name: Checkout head branch (PR)
        uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}
          path: 'head'

      - name: Checkout base branch (target)
        uses: actions/checkout@v5
        with:
          ref: ${{ github.base_ref }}
          path: 'base'
          fetch-depth: 1

      - name: Compare changelog
        id: changelog_diff
        run: |
          HEAD_CHANGELOG="head/CHANGELOG.md"
          BASE_CHANGELOG="base/CHANGELOG.md"

          echo $HEAD_CHANGELOG
          echo $BASE_CHANGELOG

          if [ $HEAD_CHANGELOG == $BASE_CHANGELOG ]; then
            echo "Error: The CHANGELOG.md has not been modified."
            echo "Please add your changes to CHANGELOG.md before merging."
            exit 1
          else
            echo "CHANGELOG.md has been modified."
            exit 0
          fi
